@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* typography */
  .text-head {
    @apply line-clamp-4 font-serif text-[66px] font-light leading-[1.2] -tracking-[0.5px];
  }

  /* hover style */
  .hover {
    @apply hover:cursor-pointer;
  }

  .hover-underline {
    @apply hover:underline hover:decoration-2;
  }

  /* scrollbar */
  :root {
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(121, 121, 121, 0.5);
    border-radius: 100px;
  }

  /* menu selection - hover */
  .menu__hover {
    @apply hover:bg-sky-700 hover:text-white;
  }

  /* image filter */
  .img__overlay::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.15s ease;
    background: linear-gradient(
      to bottom right,
      rgba(18, 18, 18, 0.73) 0%,
      rgba(96, 109, 43, 0.58) 100%
    );
    opacity: 0.5;
    z: -1;
  }

  .img__filter::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.15s ease;
    background: linear-gradient(
      to bottom right,
      rgba(18, 18, 18, 0.73) 0%,
      rgba(96, 109, 43, 0.58) 100%
    );
    opacity: 0;
    z-index: 1;
  }

  .img__filter:active::before {
    opacity: 0.3;
  }

  /* selection */
  ::selection {
    @apply bg-y-300 text-sky-700;
  }
  ::-moz-selection {
    @apply bg-y-300 text-sky-700;
  }
  ::-webkit-selection {
    @apply bg-y-300 text-sky-700;
  }

  h1 {
    @apply font-serif text-6xl;
    letter-spacing: -0.05px;
    line-height: 1.2;
  }

  h2 {
    @apply font-serif;
    font-size: 53px;
  }

  h3 {
    @apply font-serif;
    font-size: 38px;
    letter-spacing: 0.025px;
    line-height: 1.25;
  }

  h4 {
    @apply font-serif;
    font-size: 26px;
    line-height: 1.27;
  }

  .whiten {
    filter: brightness(0) invert(1);
  }

  /* Laptop */
  /* @media (min-width: 1280px) {
    h1 {
      font-size: 66px;
      letter-spacing: -0.05px;
      line-height: 1.2;
    }
    h2 {
      font-size: 53px;
      letter-spacing: 0px;
      line-height: 1.25;
    }

    h3 {
      font-size: 38px;
      letter-spacing: 0.025px;
      line-height: 1.25;
    }

    h4 {
      font-size: 26px;
      letter-spacing: 0px;
      line-height: 1.27;
    }

    .topTopics:hover {
      box-shadow: inset 0 -30px 0 #ddea6c;
    }
  } */

  /* loader */
  .loader {
    height: 20px;
    width: 60px;
    --c: no-repeat linear-gradient(rgb(23 67 209) 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 26% 6px;
    animation: l2 0.6s infinite;
  }
  @keyframes l2 {
    0%,
    70%,
    100% {
      background-position:
        calc(0 * 100% / 3) 100%,
        calc(1 * 100% / 3) 100%,
        calc(2 * 100% / 3) 100%,
        calc(3 * 100% / 3) 100%;
    }
    14% {
      background-position:
        calc(0 * 100% / 3) 0,
        calc(1 * 100% / 3) 100%,
        calc(2 * 100% / 3) 100%,
        calc(3 * 100% / 3) 100%;
    }
    28% {
      background-position:
        calc(0 * 100% / 3) 100%,
        calc(1 * 100% / 3) 0,
        calc(2 * 100% / 3) 100%,
        calc(3 * 100% / 3) 100%;
    }
    42% {
      background-position:
        calc(0 * 100% / 3) 100%,
        calc(1 * 100% / 3) 100%,
        calc(2 * 100% / 3) 0,
        calc(3 * 100% / 3) 100%;
    }
    56% {
      background-position:
        calc(0 * 100% / 3) 100%,
        calc(1 * 100% / 3) 100%,
        calc(2 * 100% / 3) 100%,
        calc(3 * 100% / 3) 0;
    }
  }
}
